/* Footer */
.footer {
    background-color: var(--black);
    padding: 2rem 0;
    height: max-content;
  }
  .footer .grid-4 {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  }
  .grid-4-col {
    padding: 0 1rem;
  }
  .footer .title-sm {
    color: var(--dark-orange);
    margin-bottom: 1rem;
  }
  .footer .text {
    color: var(--dark-ash-2);
    justify-content: center;
  }
  .footer-image {
    width:80%;
    vertical-align: middle;
    align-self: center;
  }
  .footer-links a {
    color: var(--dark-ash-2);
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    transition: 0.3s;
    align-items: center;
    padding-left:12%;
  }
  .footer-links a:hover {
    color: var(--orange);
  }
  .footer-input-wrap {
    display: grid;
    grid-template-columns: auto 50px;
    width: 25rem;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 1.2rem;
  }
  .footer-input {
    background: var(--dark-ash-2);
    color: var(--ash);
    outline: none;
    border: none;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  .input-arrow {
    color: var(--white);
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.45rem;
    transition: 0.3s;
  }
  .input-arrow:hover {
    background-color: var(--dark-orange);
  }
  .bottom-footer {
    margin-top: 2rem;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .copyright .text {
    color: var(--ash);
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
  }
  .followus-wrap {
    display: flex;
  }
  .followus {
    display: flex;
    align-items: center;
  }
  .followus h3 {
    color: var(--ash);
    font-weight: 500;
    font-size: 1.3rem;
  }
  .followus .footer-line {
    width: 60px;
    height: 2px;
    background-color: var(--ash);
    margin: 0 1.2rem;
    display: inline-block;
  }
  .back-btn-wrap {
    position: relative;
    margin-left: 2.5rem;
  }
  .back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: var(--black);
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  .back-btn:hover {
    background-color: var(--dark-orange);
  }
  .back-btn-wrap:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--pure-white);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    border-radius: 50%;
    opacity: 0.08;
    animation: scale 1.2s ease-out infinite 1s;
  }
  