@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

:root {
	--menu-width: 100%;
	--items: 4;
	--item-width: 10em;
	--orange: #fd461f;
	--dark-orange: #f63f17;
	--light-orange: #ff8166;
	--light-orange-dull: #fe6c4c;
	--yellow: #ffbf00;
	--light-yellow: #fbc933;
	--dark-green: #0c802b;
	--light-green: #23f15b;
	--light-green-dull: #35d760;
	--black: #141414;
	--dark-ash-1: #333333;
	--dark-ash-2: #444444;
	--shadow: #64646f33;
	--ash: #acacac;
	--light-ash: #f3f3f3;
	--white: #f0f0f0;
	--white-1: #ececec;
	--white-2: #eaeaea;
	--pure-white: #fff;
	--light-two: #f9fafb;
	--light-three: #f6f7fb;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

ul{
	list-style:none;
}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background: #f0f0f0;
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	width: 100vw;
	overflow: scroll;
}

/*Navigation Bar*/
/*.navigation{
  margin: 0;
  padding: 0px;
}

nav{
  width: var(--menu-width);
  display:flex;
  background-color: #141414;
  transform-style:preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  flex-wrap:wrap;
  top: 0.1em;
  align-items: left;
}

nav-links{
  color:#9e9e9e;
  font-weight: 600;
  transform-style:preserve-3d;
  flex-grow:1;
  display: inline-block;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1em;
  perspective: 200px;
  letter-spacing: 0.5px;
  min-height: 1em;
}

nav img{
  width: 200px;
}

.nav-links{
  flex:1;
  margin-top: 26px;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding:8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #9e9e9e;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height:2px;
  background: #fd461f;
  display:block;
  margin:auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width:100%
}

.profile_btn{
  text-decoration: none;
  color:#ffab99;
  border: 1px solid #fd461f;
  padding: 12px 34px;
  font-size: 15px;
  background:#fd461f;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
  float: right;
  margin-right: 0;
  margin-top: 22px;
}

.profile_btn:hover{ 
  background:#FE6C4C;
  color:#fff;
  transition: 0.5s;
}


img{
  padding:10px,10px,10px,10px;
  max-width: 700px;
  max-height: 400px;
  position:relative;
  align-items: center;
}

*/

header {
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}
nav {
    width: 100%;
    position: fixed;
    z-index: 50;
}
nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    background-color: var(--white);
}
nav img{
  width:15rem;
  display: flex;
  align-items: center;
}
.links ul {
    display: flex;
}
.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-ash-2);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}
.links a.active {
    color: var(--orange);
    border-radius: 2rem;
    border: 0.1rem solid var(--orange);
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;  
}
.links a:hover {
    color: var(--orange);
    width:fit-content;
}
.links a.active:hover {
    color: var(--white);
    background-color:var(--orange);
}
.hamburger-menu {
    width: 2.7rem;
    height: 3rem;
    z-index: 100;
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
} 
.hamburger-menu .bar {
    position: relative;
    width: 2.1rem;
    height: 5px;
    border-radius: 3px;
    background-color: var(--orange);
    transition: 0.5s;
} 
.bar:before, .bar:after {
    content: "";
    position: absolute;
    width: 2.1rem;
    height: 5px;
    border-radius: 3px;
    background-color: var(--orange);
    transition: 0.5s;
}
.bar:before {
    transform: translateY(-9px);
}
.bar:after {
    transform: translateY(9px);
}
nav.open .hamburger-menu .bar {
    background-color: transparent;
    transform: rotate(360deg);
}
nav.open .hamburger-menu .bar:before {
    transform: translateY(0) rotate(45deg);
    background-color: var(--white);
}
nav.open .hamburger-menu .bar:after {
    transform: translateY(0) rotate(-45deg);
    background-color: var(--white);
}
nav.open .links {
    transform: translateX(0);
}







/* @media(max-width:700px){
  .textbox h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display:block;
  }
  nav-links{
    position: absolute;
    background:#fd461f;
    height: 100vh;
    width: 200px; 
    top:0;
    left:-200;
    text-align:left;
    z-index: 2;
    transition: 1s;
  }
  nav.fav{
    display:block; 
    color:#ffbf00;
    margin:10px;
    font-size: 22px;
    cursor:pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}    */


/*MENU SECTION*/
.column{
	float:left;
}




/*.left p{
	color: #000;
	text-align:left;
	margin:10px;
}

.left p a{
	text-decoration: none;
	color: inherit;
}*/

/*.left h4{
  text-align:left;
  font-weight: 600;
  color: #000;
  margin:10px;
  position: fixed;
  text-transform: uppercase;
}*/

.left {
	margin-top: 6rem;
	position: fixed;
	background-color: var(--pure-white);
	width: 19%;
	float: left;
	z-index: 10;
	border: 1px solid var(--pure-white);
	border-radius: 5px;
}
.left .container-1 {
	padding: 10%;
	background-color: var(--pure-white);
	padding-top:2rem;
	position: relative;
}

/*.left .container-1 ul li {
	border-radius: 5px;
	padding: 0rem 1rem 1rem 1rem;
	background-color: var(--pure-white);
	border-radius: 15px;
	
}*/
.left .container-1 ul li a {
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-ash-1);
}


.left .container-1 ul li i{
	padding: 0rem 1rem;

}

/*.left .container-1 ul li a:hover {
	color:var(--orange);
}*/

/*.left .container-1 ul li i:hover{
	color:var(--orange);
}*/

	.left .container-1 ul li {
		border-radius: 5px;
		padding: 0rem 0.8rem 0.8rem 0rem;
		margin-bottom:1rem;
		background-color: var(--pure-white);
		border-radius: 15px;
		color: var(--dark-ash-1);
	}

		.left .container-1 ul li:hover {
			background-color: var(--white);
			transition: 0.5s;
			cursor: pointer;
			color: var(--orange);
		}

.left .container-2 {
	margin-top: 3rem;
	padding: 5%;
	background-color: var(--orange);
	position: relative;
}

.left .container-2 ul li{
	color: var(--dark-ash-1);
	padding: 0rem 1rem 1rem 1rem;
	border-radius: 15px;
}

.left .container-2 ul li a {
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	color: var(--black);
}
.left .container-2 ul li i{
	padding-left:1rem;
	padding-right:1.5rem;

}
.left .container-2 ul li a:hover {
	color:var(--orange);
}

.left .container-2 ul li:hover{
	background-color:var(--pure-white);
	transition: 0.5s;
	cursor: pointer;
}

/*.left h4:hover {
	/*border: 1px solid #141414;*/
	/*background: #ff8166;
	transition: 0.5s;
	cursor: pointer;
}*/

.left h4 a {
	text-decoration: none;
	color: inherit;
}

.left a::after {
	transition: linear 0.5s;
}
/*END OF MENU SECTION*/

/*.left iconLeft {
	background-color: #fd461f;
}*/


/*COMMON ATTRIBUTES*/

.transformableRows {
	transition: all .2s ease-in;
	cursor: pointer;
}

.transformableRows:hover {
	transform: scale(1.02);
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
	background-color: var(--pure-white);
}
/*END OF COMMON ATTRIBUTES*/



/*STATISTICS DIVISION*/
.right {
	margin-top: 2rem;
	width: 80%;
	background-color: #f0f0f0;
	padding-left: 0em;
	float: right;
}

.statistics{
	width:80%;
	margin:5rem 10% 3rem 10%;
}

.todays-statistics h2 {
	font-size: 2.4rem;
	font-weight: 600;
	color: var(--dark-ash-1);
	text-align: center;
	margin-bottom: 2rem;
	line-height: 0.8;
}

.stat-cards {
	margin: 2rem 2rem 1.5rem 0rem;
}

.stat-card1 {
	flex-basis: 30%;
	max-height: max-content;
	width: 10rem;
	border-radius: 1rem;
	box-sizing: border-box;
	/*transition: 0.3s;*/
	padding: 1.2rem;
	margin-left: 10%;
	box-shadow: 0 0 4px 0px var(--black);
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.stat-card1:hover {
	transition: 0.3s;
	background-color: var(--orange);
	color: var(--white);
}

.stat-card2 {
	flex-basis: 30%;
	max-height: max-content;
	width: 10rem;
	border-radius: 1rem;
	box-sizing: border-box;
	/*transition: 0.3s;*/
	padding: 1.2rem;
	margin-left: 10%;
	box-shadow: 0 0 4px 0px var(--black);
	cursor: pointer;
	
	display: inline-block;
	text-align: center;
}

.stat-card2:hover {
	transition:0.3s;
	background-color: var(--orange);
	color:var(--white);
}

.stat-card3 {
	flex-basis: 30%;
	max-height: max-content;
	width: 10rem;
	border-radius: 1rem;
	box-sizing: border-box;
	/*transition: 0.3s;*/
	padding: 1.2rem;
	margin-left: 10%;
	box-shadow: 0 0 4px 0px var(--black);
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.stat-card3:hover {
	transition: 0.3s;
	background-color: var(--orange);
	color: var(--white);
}

/*.dashboard:after{
	content:"";
	display:table;
	clear:both;
}*/

/*.tab1 {
	tab-size: 4;
	font-family: Poppins;
	margin: 0.8rem 4rem;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
}

h3 {
	font-weight: 600;
	color: var(--dark-ash-1);
	margin: 10px;
	display: block;
}

.statistic-cards {
	margin: 1rem 15%;
	align-content: center;
	width:80%;
}

.stat{
	float:left;
	display: block;
	border-radius: 15px;
	padding: 15px;
}

/*.stat h3{
	text-align:center;
}*/

/*.stat p{
	text-align:center;
	font-weight: 600;
	font-size: 1rem;
}*/


/*
.one h3 p{
	width: 25%;
	border: 2px solid #9b59b6;
	margin: 0rem 1rem  1rem 1rem;
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
}
/*
.one:hover {
	border: 2px solid #9b59b6;
	background-color: #9b59b6;
	cursor: default;
	transition: 0.5s;
	box-shadow: 0px 0px 10px 0px #9b59b6;
	color: var(--white);
}

.two {
	width: 25%;
	border: 2px solid #e67e22;
	margin: 0px 10px 0px 10px;
}

.two:hover {
	border: 2px solid #e67e22;
	background-color: #e67e22;
	cursor: default;
	transition: 0.5s;
	box-shadow: 0px 0px 20px 0px #e67e22;
}

.three {
	width: 25%;
	border: 2px solid #2ecc71;
	margin: 0px 10px 0px 10px;
}

.three:hover {
	border: 2px solid #2ecc71;
	background-color: #2ecc71;
	cursor: default;
	transition: 0.5s;
	box-shadow: 0px 0px 20px 0px #2ecc71;
}
*/

.chart-1 {
	margin-top: 5rem;
	width: 400px;
	height: 400px;
}

.chart-2 {
	width: 400px;
	height: 400px;
	margin-left: 50px;
	display: inline-block;
}
/*END OF STATISTICS SECTION*/


/*FORM SUBMISSIONS SECTION*/
.request h1 {
	text-align: center;
	font-size: 2.4rem;
	line-height: 0.8;
	color: var(--dark-ash-1);
}

/*.request h1:before {
	content: attr(data-title);
	display: block;
	margin-bottom: 0.4rem;
	color: var(--orange);
	font-size: 1.15rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.request h1:after {
	content: "";
	position: absolute;
	width: 90px;
	height: 5px;
	border-radius: 3px;
	background-color: var(--orange);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}*/

.reqTable {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: Poppins;
	max-width: 800px;
	width: 80%;
	margin: auto;
	height: 150px;
	border: 2px solid #dddddd;
}

.reqTable th {
	background-color: #fd461f;
	color: #ffffff;
	text-align: left;
}

.reqTable th, td {
	padding: 12px 25px 12px 15px;
}

.reqTable td {
	border-bottom: 1px solid #dddddd;
}

.reqTable img{
	cursor: pointer;
}
/*END OF FORM SUBMISSIONS*/



/*COMPLAINTS SECTION*/
.deleteSA h1 {
	text-align: center;
	font-size: 2.4rem;
	line-height: 0.8;
	color: var(--dark-ash-1);
}

.compTable {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: Poppins;
	max-width: 1000px;
	width: 80%;
	margin: auto;
	height: 150px;
	border: 2px solid #dddddd;
}

.compTable th {
	background-color: #fd461f;
	color: #ffffff;
	text-align: left;
}

.compTable th, td {
	padding: 12px 25px 12px 15px;
}

.compTable td {
	border-bottom: 1px solid #dddddd;
}

.blacklist {
	font-style: italic;
}

.removeAcc {
	color: red;
	cursor: pointer;
}

.removeAcc:hover {
	font-weight: bold;
	transition: 0.5s;
}

.blacklist2 {
	color: #000;
	cursor: pointer;
}

.blacklist2:hover {
	font-weight: bold;
	transition: 0.5s;
}

.removeAcc i {
	color: red;
	font-size: 1.5rem;
}

.removeAcc i:hover{
	font-weight: bold;
}

/*END OF COMPLIANTS SECTION*/



/*REMOVE CUSTOMERS SECTION*/
.removeCustomer h1 {
	text-align: center;
	font-size: 2.4rem;
	line-height: 0.8;
	color: var(--dark-ash-1);
}

.customer-search {
	width: 400px;
	height: 50px;
	text-align: center;
	border-radius: 15px;
	align-content: center;
	margin: 3rem 3rem 4rem 15rem;
}

.searchCButton {
	text-decoration: none;
	color: #000;
	border: 2px solid #0c6423;
	padding: 12px 34px;
	font-size: 15px;
	background: #35d760;
	cursor: pointer;
	border-radius: 20px;
	float: right;
	margin: 3rem 3rem 4rem 8rem;
}

.customerTable {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: Poppins;
	max-width: 1000px;
	margin: 0rem 10rem 8rem 10rem;
	height: 150px;
	border: 2px solid #dddddd;
	align-content: center;
}

.customerTable th {
	background-color: #fd461f;
	color: #ffffff;
	text-align: left;
}

.customerTable th, td {
	padding: 12px 25px 12px 15px;
}

.customerTable td {
	border-bottom: 1px solid #dddddd;
}

/*END OF REMOVE CUSTOMERS SECTION*/


/*HELP & SUPPORT SECTION*/
.help-support h1 {
	text-align: center;
	font-size: 2.4rem;
	line-height: 0.8;
	color: var(--dark-ash-1);
}

.ITable {
	width: 67%;
}

.createFAQ {
	text-decoration: none;
	color: #000;
	border: 2px solid #0c6423;
	padding: 12px 34px;
	font-size: 15px;
	background: var(--white);
	cursor: pointer;
	border-radius: 20px;
	margin: 2rem 1rem 4rem 45rem;
}

.createFAQ:hover {
	background: #35d760;
	font-weight: bold;
	transition: 0.5s;
}

.issueTable {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: Poppins;
	max-width: 1000px;
	width: 90%;
	margin: 0rem 1rem 5rem 10rem;
	height: 150px;
	border: 2px solid #dddddd;
}



.issueTable th {
	background-color: #fd461f;
	color: #ffffff;
	text-align: left;
}

.issueTable th, td {
	padding: 12px 25px 12px 15px;
}

.issueTable td {
	border-bottom: 1px solid #dddddd;
}

/*END OF HELP & SUPPORT SECTION*/


/*GENERATE REPORT SECTION*/
.report h1 {
	text-align: center;
	font-size: 2.4rem;
	line-height: 0.8;
	color: var(--dark-ash-1);
}

.filter {
	width: 200px;
	height: 25px;
	border-radius: 15px;
	background-color: #f3f3f3;
	display: inline-block;
}

.label {
	display: inline-block;
	text-align: right;
}

.generateButton {
	text-decoration: none;
	color: #000;
	border: 2px solid #0c6423;
	padding: 12px 34px;
	font-size: 15px;
	background: #35d760;
	cursor: pointer;
	border-radius: 20px;
	float: right;
	margin-top: 15px;
	margin-left: 500px;
}

.generateButton:hover {
	background: #23f15b;
	color: #fff;
	transition: 0.5s;
}


/*END OF GENERATE REPORT SECTION*/


/*REMOVE NEGATIVE RATING SECTION*/

.negativeRate h1 {
	text-align: center;
	font-size: 2.4rem;
	line-height: 0.8;
	color: var(--dark-ash-1);
}

.ratingTable {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: Poppins;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	height: 150px;
	border: 2px solid #dddddd;
}

.ratingTable th {
	background-color: #fd461f;
	color: #ffffff;
	text-align: left;
}

.ratingTable th, td {
	padding: 12px 25px 12px 15px;
}

.ratingTable td {
	border-bottom: 1px solid #dddddd;
}

.stars {
	width: 123px;
}

.rated {
	color: orange;
}


/*END OF REMOVE NEGATIVE RATING SECTION*/


/*Footer section*/
.footer {
	color: #fd461f;
	text-align: center;
}

.footer-col{
  align-items: center;
  flex-basis:33.33%;
  background:#141414;
  text-align: left;
  margin-bottom:3%;
  padding:20px 12px;
  box-sizing:border-box;
  transition: 0.5s;
  align-content: center;
  text-align: center;
}
.footer-col:hover{
  border: 1px solid #141414;
  background: rgb(214, 214, 214) ;
  transition: 0.5s;
  
}
.footer-col img{
  width:80%;
  border-radius: 10px;
}
h2{
  text-align:center;
  font-weight: 600;
  color: #fd461f;
  margin:10px;
}

.footer-col p{
  padding:0;
  color: #9e9e9d;
}

.footer-col h3{
  margin-top:16px;
  margin-bottom: 15px;
  text-align: left;
  
}
.row{
  margin-top:5%;
  display:flex;
  justify-content:space-between;
}

.icons i{
  padding: 15px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/* Solid border */
hr.solid {
  border-top: 4px solid #fd461f;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}