<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Management CSS/Addmin_Home.css">
    <script src="https://kit.fontawesome.com/c32bb29bee.js" crossorigin="anonymous"></script>

    <title>Booking Handeling Home</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <img src="/Management Images/logos/logo_and_name_small.png" alt="logo">
        <ul class="side-nav-container">
            <li><a href="management_home.html"><i class="far fa-user-circle"></i>Profile</a></li>
            <li><a href="manage_booking.html"><i class="far fa-bookmark"></i>Manage Booking</a></li>
            <li><a href="mana_reports.html"><i class="far fa-chart-bar"></i>Reports</a></li>
            <li><a href="manage_user.html"><i class="fas fa-users"></i>Manage User</a></li>
            <li><a href="user_setting_change.html"><i class="fas fa-user-cog"></i>Setting</a></li>
            <li><a onclick="document.getElementById('log-out').style.display='block'"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
        </ul>
    </nav>
</body>
</html>