<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c32bb29bee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="stylesheet" href="/public/css/mana_home.css">
    <link rel="stylesheet" href="/public/css/booking_table.css">

    <title>Management Profile</title>
</head>
<body>
    <div class="page-container">
        <div class="nav">
            <div class="nav-container">
                <div class="logo">
                   <a href ="Management Home.html">
                    <img src="/public/images/logos/logo_and_name_small-removebg.png"></a>
                </div>
                <div class="nav-links">
                   <ul>
                       <li><a href="">HOME</a></li>
                       <li><a href="/visitor.html#sp-arena">SPORTS ARENAS</a></li>
                       <li><a href="/visitor.html#reviews">REVIEWS</a></li>
                       <li><a href="/visitor.html#faq">FAQ</a></li>
                       <li><a href="/visitor.html#about">ABOUT</a></li>
                       <li><a href="/visitor.html#contact">CONTACT</a></li>
                       <li><a href="#" class="active">PROFILE</a></li>
                     </ul>
                </div>
                <div class="hamburger-menu">
                <div class="bar"></div>
                </div>   
             </div>
        </div>
        <div class="section">
            <div class="side-nav">
                <ul class="side-nav-container">
                    <li><a href="management_home.html"><i class="far fa-user-circle"></i>Profile</a></li>
                    <li><a href="manage_booking.html"><i class="far fa-bookmark"></i>Manage Booking</a></li>
                    <li><a href="mana_reports.html"><i class="far fa-chart-bar"></i>Reports</a></li>
                    <li><a href="manage_user.html"><i class="fas fa-users"></i>Manage User</a></li>
                    <li><a href="user_setting_change.html"><i class="fas fa-user-cog"></i>Setting</a></li>
                    <li><a onclick="document.getElementById('log-out').style.display='block'"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                </ul>
            </div>
            <div class="container">      
                <div class="check_booking">
                    <table class="table">
                        <thead>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Booking Date</th>
                            <th>Time Slot</th>
                            <th>Paid/Unpaid</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="S.No">1</td>
                                <td data-label="Name">Dinesh</td>
                                <td data-label="Age">34</td>
                                <td data-label="Marks%">50%</td>
                                <td data-label="Staus">Passed</td>
                          </tr>
               
                          <tr>
                                <td data-label="S.No">2</td>
                                <td data-label="Name">Kamal</td>
                                <td data-label="Age">23</td>
                                <td data-label="Marks%">70%</td>
                                <td data-label="Staus">Passed</td>
                          </tr>
               
                          <tr>
                                <td data-label="S.No">3</td>
                                <td data-label="Name">Neha</td>
                                <td data-label="Age">20</td>
                                <td data-label="Marks%">90%</td>
                                <td data-label="Staus">Passed</td>
                          </tr>
               
                          <tr>
                                <td data-label="S.No">4</td>
                                <td data-label="Name">Priya</td>
                                <td data-label="Age">30</td>
                                <td data-label="Marks%">30%</td>
                                <td data-label="Staus">Failed</td>
                          </tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/public/js/slider.js"></script>
    
</body>
</html>