<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c32bb29bee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="stylesheet" href="/public/css/mana_home.css">
    <link rel="stylesheet" href="/public/css/manage_user.css">

    <title>Management Profile</title>
</head>
<body>
    <div class="page-container">
        <div class="nav">
            <div class="nav-container">
                <div class="logo">
                   <a href ="Management Home.html">
                    <img src="/public/images/logos/logo_and_name_small-removebg.png"></a>
                </div>
                <div class="nav-links">
                   <ul>
                       <li><a href="">HOME</a></li>
                       <li><a href="/visitor.html#sp-arena">SPORTS ARENAS</a></li>
                       <li><a href="/visitor.html#reviews">REVIEWS</a></li>
                       <li><a href="/visitor.html#faq">FAQ</a></li>
                       <li><a href="/visitor.html#about">ABOUT</a></li>
                       <li><a href="/visitor.html#contact">CONTACT</a></li>
                       <li><a href="#" class="active">PROFILE</a></li>
                     </ul>
                </div>
                <div class="hamburger-menu">
                <div class="bar"></div>
                </div>   
             </div>
        </div>
        <div class="section">
            <div class="side-nav">
                <ul class="side-nav-container">
                    <li><a href="management_home.html"><i class="far fa-user-circle"></i>Profile</a></li>
                    <li><a href="manage_booking.html"><i class="far fa-bookmark"></i>Manage Booking</a></li>
                    <li><a href="mana_reports.html"><i class="far fa-chart-bar"></i>Reports</a></li>
                    <li><a href="manage_user.html"><i class="fas fa-users"></i>Manage User</a></li>
                    <li><a href="user_setting_change.html"><i class="fas fa-user-cog"></i>Setting</a></li>
                    <li><a onclick="document.getElementById('log-out').style.display='block'"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                </ul>
            </div>
            <div class="container">      
                <div class="manage-sport-arena-staff">
                    <button class="add-sta-pop-btn" onclick="document.getElementById('staff-add').style.display='block'" style="width:auto;"><i class="fas fa-user-plus"></i>Add User</button>

                    <div id="staff-add" class="staff-add-fm-con">
                    
                    <form class="add-user-frm-content animate" action="/action_page.php" method="post">
                        <div class="add-user-frm-container">
                        <label for="uname"><b>User Name</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <label for="uname"><b>First Name</b></label>
                        <input type="text" placeholder="Enter First Name" name="uname" required>
                        <label for="uname"><b>Last Name</b></label>
                        <input type="text" placeholder="Enter Last Name" name="uname" required>
                        <label for="uname"><b>Mobile No</b></label>
                        <input type="tel" placeholder="Enter Mobile No" name="uname" required>
                        <label for="uname"><b>Select The Category</b></label>
                        <select>
                            <option value="0">Select Staff</option>
                            <option value="1">Administartion Staff</option>
                            <option value="2">Booking Handeling Staff</option>
                          </select>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                            
                        <button type="submit"><i class="fas fa-user-plus"></i>Add The User</button>
                        </div>
                        <div class="add-user-frm-container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('staff-add').style.display='none'" class="cancelbtn">Cancel</button>
                        </div>
                    </form>
                    </div>

                    <table class="staff-table">
                        <thead>
                            <th>Staff Id</th>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile No</th>
                            <th>Category</th>
                            <th>Edit User</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Staff Id :">1</td>
                                <td data-label="User-Name :">Dinesh</td>
                                <td data-label="First Name :">Dinesh</td>
                                <td data-label="Last Name :">Lakshan</td>
                                <td data-label="Mobile No :">0914564561</td>
                                <td data-label="Category :">Administartion</td>
                                <td data-label="Remove-user :"><i class="far fa-trash-alt" onclick="document.getElementById('id01').style.display='block'"></i></td>
                            </tr>
                            <tr>
                                <td data-label="Staff Id :">1</td>
                                <td data-label="User-Name :">Dinesh</td>
                                <td data-label="First Name :">Dinesh</td>
                                <td data-label="Last Name :">Lakshan</td>
                                <td data-label="Mobile No :">0914564561</td>
                                <td data-label="Category :">Booking Handeling</td>
                                <td data-label="Edit-user :"><i class="fas fa-edit"></i><i class="far fa-trash-alt"></i></td>
                                
                            </tr>
                            <tr>                                
                                <td data-label="Staff Id :">1</td>
                                <td data-label="User-Name :">Dinesh</td>
                                <td data-label="First Name :">Dinesh</td>
                                <td data-label="Last Name :">Lakshan</td>
                                <td data-label="Mobile No :">0914564561</td>
                                <td data-label="Category :">Administartion</td>
                                <td data-label="Edit-user :"><i class="fas fa-edit"></i><i class="far fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td data-label="Staff Id :">1</td>
                                <td data-label="User-Name :">Dinesh</td>
                                <td data-label="First Name :">Dinesh</td>
                                <td data-label="Last Name :">Lakshan</td>
                                <td data-label="Mobile No :">0914564561</td>
                                <td data-label="Category :">Administartion</td>
                                <td data-label="Edit-user :"><i class="fas fa-edit"></i><i class="far fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td data-label="Staff Id :">1</td>
                                <td data-label="User-Name :">Dinesh</td>
                                <td data-label="First Name :">Dinesh</td>
                                <td data-label="Last Name :">Lakshan</td>
                                <td data-label="Mobile No :">0914564561</td>
                                <td data-label="Category :">Administartion</td>
                                <td data-label="Edit-user :"><i class="fas fa-edit"></i><i class="far fa-trash-alt"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="id01" class="delete-staff">
                        <form class="delete-staff-content" action="/action_page.php">
                          <div class="delete-staff-con">
                            <h1>Delete Account</h1>
                            <p>Are you sure you want to delete your account?</p>
                          
                            <div class="clearfix">
                              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbutton">Cancel</button>
                              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="delete-staff-btn">Delete</button>
                            </div>
                          </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/public/js/slider.js"></script>
    
</body>
</html>
<!-- 
<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
<label for=""><b><i class="fas fa-user"></i> User Name</b></label>
<input type="text" name="username" placeholder="Username">
<label for=""><b><i class="fas fa-phone"></i> Mobile No</b></label>
<input type="tel" name="tel" placeholder="Mobile Number">
<label for=""><b><i class="fas fa-user-friends"></i>
    User Category</b></label>
    <select name="user-type">
        <option value="">Select User Type</option>
        <option class="option" value="">Administration Staff</option>
        <option class="option" value="">Booking Handeling Staff</option>
    </select>
    <span class="custom-arrow"></span> -->
<!-- <label for=""><b><i class="fas fa-lock"></i>Password</b></label>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Submit" class="btn">
<p>User Added Succesfully</p>
<div class="container" style="background-color:#f1f1f1">
    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
</div> -->